// fonts
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
$font: 'Poppins',
sans-serif;

// primary colors
$Red: hsl(0, 100%, 74%);
$Green: hsl(154, 59%, 51%);
// accent color
$Blue: hsl(248, 32%, 49%);
// neutral
$Dark-Blue: hsl(249, 10%, 26%);
$Grayish-Blue: hsl(246, 25%, 77%);