@import "config";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100vh;
}

body {
  font-family: $font;
  font-size: 16px;
  height: 100%;
  background-color: $Red;
  background-image: url("./../images/bg-intro-mobile.png");
  @media (min-width:750px) {
    background-image: url("./../images/bg-intro-desktop.png");
  }
  main{
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    @media (min-width:750px) {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: 80px calc(100% - 80px);
      row-gap: 16px;
      grid-template-areas: 
        "head head banner banner"
        "head head form form";
      .head{
        grid-area: head;
        margin-top: calc(50% - 237px);
        grid-column: 1/3;
        .title{
          font-size: 3rem;
        }
      }
      .head .title,
      .head .subtitle{
        margin-left: 0;
        padding: 0;
        text-align: start;
      }
      .banner,.form{
        width: 100%;
      }
      .banner{
        span{
          display: inline;
        }
        grid-area: banner;
        align-self: start;
        margin: 0;
      }
      .form{
        grid-area: form;
        margin-top: 0;
      }
    }
  }
  *{
    padding: 1rem;
  }
}

// from 375px to 750px
.head{
  text-align: center;
  color: white;
  .title{
    font-size: 1.5rem;
    margin: 2rem;
    font-weight: 700;
  }
  .subtitle{
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 2rem;
  }
}
.banner{
  font-weight: 700;
  background-color: $Blue;
  color: white;
  text-align: center;
  margin: 1rem;
  width: 85%;
  border-radius: 10px;
  box-shadow: 0px 7px 5px hsla(0, 39%, 47%, 0.733);
  span{
    font-weight: 400;
    padding: 0;
    display: block;
  }
}


.form{
  background-color: white;
  color: black;
  width: 85%;
  border-radius: 10px;
  box-shadow: 0px 7px 10px hsla(0, 39%, 47%, 0.733);
  div{
    width: 100%;
    padding: 0;
    height: auto;
    position: relative;
    img,span{
      display: none;
      position: absolute;
    }
    img{
      right: 0;
      top: 0;
    }
    span{
      font-size: 0.7rem;
      color: $Red;
      right: 0;
      bottom: -10px;
    }
  }
  input{
    font-family: $font;
    font-weight: 600;
    margin-bottom: 1.5rem;
    width: 100%;
    border: 2px solid $Grayish-Blue;
    border-radius: 7px;
    font-size: 1rem;
    transition: all 200ms;
    &:focus{
      outline: none;
    }
  }
  #submit{
    display: block;
    margin: 0 auto;
    background-color: $Green;
    border-radius: 10px;
    color: white;
    border: none;
    font-size: 1rem;
    font-family: $font;
    padding: 1.5rem 0;
    box-shadow: 0px 5px 3px hsla(154, 53%, 32%, 0.527);
    font-weight: 600;
    transition: all 200ms;
    &:hover{
      background-color: hsla(154, 59%, 51%, 0.801);
      box-shadow: 0px 5px 3px hsla(154, 78%, 69%, 0.596);
      cursor: pointer;
      
    }
  }
  .disclosure{
    display: block;
    text-align: center;
    font-size: 0.7rem;
    color: $Grayish-Blue;
    .terms{
      text-decoration: none;
      color: $Red;
      font-weight: 700;
      transition: all 200ms;
      &:hover{
        color: hsl(0, 45%, 55%);
      }
    }
  }
}
// footer
.attribution {
  color: white;
  font-size: 11px;
  text-align: center;
  bottom: 0px;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}