@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap");
.card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  padding: 2rem;
  font-family: "Lexend Deca", sans-serif;
  color: #f2f2f2;
}

.card__image {
  margin-bottom: 12px;
}

.card h2 {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-transform: uppercase;
  font-size: 2rem;
  font-family: "Big Shoulders Display", cursive;
  margin: 12px 0;
}

.card p {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  font-size: 0.8rem;
  margin-bottom: 2rem;
}

.card button {
  justify-self: flex-end;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-preferred-size: max-content;
      flex-basis: max-content;
  max-width: 145px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  font-family: "Lexend Deca", sans-serif;
  border: none;
  background: #f2f2f2;
  border: 2px solid #f2f2f2;
  padding: 0.7rem 1rem;
  border-radius: 2rem;
  cursor: pointer;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}

.card.sedan {
  background-color: #e38826;
}

.card.sedan button {
  color: #e38826;
}

.card.sedan button:hover {
  background-color: transparent;
  color: #f2f2f2;
}

.card.suv {
  background-color: #006970;
}

.card.suv button {
  color: #006970;
}

.card.suv button:hover {
  background-color: transparent;
  color: #f2f2f2;
}

.card.luxury {
  background-color: #004241;
}

.card.luxury button {
  color: #004241;
}

.card.luxury button:hover {
  background-color: transparent;
  color: #f2f2f2;
}

@media (min-width: 600px) {
  .card button {
    margin-top: 2.5rem;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-size: 15px;
  background-color: #f2f2f2;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 600px) {
  body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

main {
  margin: 12px;
  border-radius: 1rem;
  max-width: 921px;
  max-height: 500px;
}

.cards {
  overflow: hidden;
  border-radius: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

@media (max-width: 600px) {
  .cards {
    -ms-grid-column-align: center;
        justify-self: center;
    -ms-flex-item-align: start;
        align-self: flex-start;
    margin: 1rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
/*# sourceMappingURL=main.css.map */