@import "./config";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  font-family: $font;
  font-weight: $weight;
  font-size: 16px;
  background-color: $Dark-Blue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main {
  margin: 1rem;
  background-color: $Dark-Grayish-Blue;
  max-width: 648px;
  height: auto;
  border-radius: 1rem;
  text-align: center;
  padding: 2rem 2rem 0 2rem;
  position: relative;

  h1 {
    font-size: 0.8rem;
    color: $Neon-Green;
    letter-spacing: 3px;
    text-transform: uppercase;
  }
}


#quote {
  color: $Light-Cyan;
  margin: 1rem 0;
  font-size: $quote-size;
}

#divider {
  background: url("./../images/pattern-divider-mobile.svg") no-repeat center;
  width: 100%;
  height: 20px;
  margin: 2rem 0 3rem 0;

  @media (min-width:485px) {
    background: url("./../images/pattern-divider-desktop.svg") no-repeat center;
  }
}

#dice {
  position: absolute;
  bottom: -28px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50%;
  width: 3.5rem;
  height: 3.5rem;
  background-color: $Neon-Green;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
  transition: all 100ms;

  &__image {
    background: url("./../images/icon-dice.svg") no-repeat center;
    width: 25px;
    height: 25px;
  }

  &:hover {
    box-shadow: 0px 0px 30px $Neon-Green;
  }

  &:active {
    box-shadow: 0px 0px 5px $Neon-Green;
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
  font-size: 0.7rem;
  color: white;
  margin-top: 3rem;
}

.attribution a {
  color: $Neon-Green;
}

@keyframes typing {
  100% {
    left: 100%;
    margin: 0 -35px 0 -35px;
  }
}