@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@600;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@600;800&display=swap");
#slider {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 100%;
  background-color: #eaeefb;
  -webkit-transition: all 180ms;
  transition: all 180ms;
}

#slider::-moz-range-thumb {
  -webkit-transition: all 180ms;
  transition: all 180ms;
  -moz-appearance: none;
       appearance: none;
  background-image: url("./../images/icon-slider.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: #10d5c2;
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  border: 0;
  box-shadow: 0px 7px 30px #10d5c2;
  cursor: pointer;
}

#slider::-moz-range-thumb:hover, #slider::-moz-range-thumb:active {
  -moz-appearance: none;
       appearance: none;
  background-image: none;
  background-color: #a5f3eb;
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  border: 0;
  box-shadow: 0px 7px 20px #10d5c2;
  cursor: pointer;
}

#slider::-ms-thumb {
  -webkit-transition: all 180ms;
  transition: all 180ms;
  appearance: none;
  background-image: url("./../images/icon-slider.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: #10d5c2;
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  border: 0;
  box-shadow: 0px 7px 30px #10d5c2;
  cursor: pointer;
}

#slider::-ms-thumb:hover, #slider::-ms-thumb:active {
  appearance: none;
  background-image: none;
  background-color: #a5f3eb;
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  border: 0;
  box-shadow: 0px 7px 20px #10d5c2;
  cursor: pointer;
}

#slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  margin-top: -14px;
  -webkit-transition: all 180ms;
  transition: all 180ms;
  appearance: none;
  background-image: url("./../images/icon-slider.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: #10d5c2;
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  border: 0;
  -webkit-box-shadow: 0px 7px 30px #10d5c2;
          box-shadow: 0px 7px 30px #10d5c2;
  cursor: pointer;
}

#slider::-webkit-slider-thumb:hover, #slider::-webkit-slider-thumb:active {
  -webkit-appearance: none;
          appearance: none;
  background-image: none;
  background-color: #a5f3eb;
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  border: 0;
  -webkit-box-shadow: 0px 7px 20px #10d5c2;
          box-shadow: 0px 7px 20px #10d5c2;
  cursor: pointer;
}

#slider::-moz-range-track {
  -moz-appearance: none;
       appearance: none;
  background-color: #eaeefb;
  height: 6px;
  border-radius: 6px;
}

#slider::-ms-track {
  appearance: none;
  background-color: #eaeefb;
  height: 6px;
  border-radius: 6px;
}

#slider::-ms-track::-ms-fill-lower {
  appearance: none;
  background-color: #a5f3eb;
  height: 6px;
}

#slider::-webkit-slider-runnable-track {
  -webkit-appearance: none;
          appearance: none;
  background-color: #eaeefb;
  height: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 1px 0 0 calc(100% - var("--value")) inset red;
          box-shadow: 1px 0 0 calc(100% - var("--value")) inset red;
}

#slider::-moz-range-progress {
  -moz-appearance: none;
       appearance: none;
  background-color: #a5f3eb;
  height: 6px;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  width: 100%;
  font-family: "Manrope", sans-serif;
  font-size: 15px;
}

main {
  margin: 2rem;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: #3e52a3;
}

.container {
  position: relative;
}

.container input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: absolute;
}

#r1 {
  background-color: transparent;
}

#r2 {
  overflow: hidden;
}

#r1::-moz-range-track {
  background-color: transparent;
}

#r1::-moz-range-thumb {
  width: 25px;
}

#r2::-moz-range-track {
  height: 100%;
  background-color: red;
}

#r2::-moz-range-thumb {
  width: 25px;
  box-shadow: -100px 0 0 100px blue;
}

#r1::-webkit-slider-runnable-track {
  background-color: transparent;
}

#r1::-webkit-slider-thumb {
  width: 25px;
}

#r2::-webkit-slider-runnable-track {
  height: 100%;
  background-color: red;
}

#r2::-webkit-slider-thumb {
  width: 25px;
  -webkit-box-shadow: -100px 0 0 100px blue;
          box-shadow: -100px 0 0 100px blue;
}
/*# sourceMappingURL=main.css.map */