@import "./config", "./card";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  width: 100%;
}

body {
  background-color: $Very-dark-blue;
  font-family: $font;
  padding: 1rem;
  @media (min-width:750px) {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

main {
  color: white;
  max-width: 1200px;
  margin: 5rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  @media (min-width: 750px) {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 200px 200px;
    gap: 10px;
    *{
      align-self:start;
    }
    .user{
      grid-row: 1/3;
    }
  }
}

.active{
  color: $Desaturated-blue;
}

.attribution {
  margin-top: 2rem;
  font-size: 11px;
  text-align: center;
  bottom: 0;
  color: white;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}