@import "./config", "./card";

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

html{
  width: 100%;
}

body{
  background-color: $Very-dark-blue;
  font-family: $font;
}


main {
  color: white;
  max-width: 1000px;
  margin: 5rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.attribution { font-size: 11px; text-align: center; bottom: 0; color: white;}
.attribution a { color: hsl(228, 45%, 44%); }