@import "config";

// slider style

@mixin thumb_hover {
  appearance: none;
  background-image: none;
  background-color: $Soft-Cyan-Full-Slider-Bar;
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  border: 0;
  box-shadow: 0px 7px 20px $Strong-Cyan-Slider-Backround;
  cursor: pointer;
}

@mixin thumb {
  transition: all 180ms;
  appearance: none;
  background-image: url("./../images/icon-slider.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: $Strong-Cyan-Slider-Backround;
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  border: 0;
  box-shadow: 0px 7px 30px $Strong-Cyan-Slider-Backround;
  cursor: pointer;
}

@mixin track {
  appearance: none;
  background-color: $Light-Grayish-Blue-Empty-Slider-Bar;
  height: 6px;
  border-radius: 6px;
}

@mixin progress {
  appearance: none;
  background-color: $Soft-Cyan-Full-Slider-Bar;
  height: 6px;
}

.slider {
  height: 50px;
  width: 100%;
}

.slider label{
  width: 100%;
  position: relative;
  display: block;
  input{
    position: absolute;
    width: 100%;
    appearance: none;
    height: 7px;
    border-radius: 7px;
    -moz-appearance: none;
    -webkit-appearance: none;
    transition: all 180ms;
  }
}

#slider{
  background-color: transparent;
}

#background-slider{
  overflow: hidden;
}

// firefox
#slider::-moz-range-track{
  background-color: transparent;
}
#slider::-moz-range-thumb{
  @include thumb;
  &:hover,
  &:active{
    @include thumb_hover;
  }
}
#background-slider::-moz-range-thumb{
  @include thumb;
}

#background-slider::-moz-range-track{
  height: 10px;
  background-color: $Light-Grayish-Blue-Empty-Slider-Bar;
}
#background-slider::-moz-range-thumb{
  width: 25px;
  box-shadow: -1000px 0 0 1000px $Soft-Cyan-Full-Slider-Bar;
}

// chrome test
#slider::-webkit-slider-runnable-track{
  background-color: transparent;
}
#slider::-webkit-slider-thumb{
  @include thumb;
  &:hover,
  &:active{
    @include thumb_hover;
  }
}

#background-slider::-webkit-slider-runnable-track{
  height: 100%;
  background-color: $Light-Grayish-Blue-Empty-Slider-Bar;
}
#background-slider::-webkit-slider-thumb{
  width: 25px;
  box-shadow: -1000px 0 0 1000px $Soft-Cyan-Full-Slider-Bar;
}

// EDGE

#slider::-ms-track{
  background-color: transparent;
}
#slider::-ms-thumb{
  @include thumb;
  &:hover{
    @include thumb_hover;
  }
}
#background-slider::-ms-thumb{
  @include thumb;
}

#background-slider::-ms-track{
  height: 10px;
  background-color: $Light-Grayish-Blue-Empty-Slider-Bar;
}
#background-slider::-ms-thumb{
  width: 25px;
  box-shadow: -1000px 0 0 1000px $Soft-Cyan-Full-Slider-Bar;
}

// toggle button

#cycle-switch{
  position: relative;
  display: inline-block;
  width: 35px;
  height: 20px;
  input{
    opacity: 0;
    width: 0;
    height: 0;
  }
  span{
    transition: all 180ms;
    position: absolute;
    width: 35px;
    height: 20px;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $Light-Grayish-Blue-Toggle-Background;
    border-radius: 10px;
  }
  span:before{
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    left: 2.5px;
    top: 2.5px;
    border-radius: 50%;
    background-color: white;
    transition: all 180ms;
  }
  input:hover, span:hover{
      background-color: $Soft-Cyan-Full-Slider-Bar;
  }
  input:checked + span{
    background-color: $Strong-Cyan-Slider-Backround;
  }
  input:checked + span:before{
    transform: translateX(15px);
  }
}

