@import "config";

// slider style

#slider {
  appearance: none;
  width: 100%;
  background-color: $Light-Grayish-Blue-Empty-Slider-Bar;
  transition: all 180ms;
}

@mixin thumb_hover {
  appearance: none;
  background-image: none;
  background-color: $Soft-Cyan-Full-Slider-Bar;
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  border: 0;
  box-shadow: 0px 7px 20px $Strong-Cyan-Slider-Backround;
  cursor: pointer;
}

@mixin thumb {
  transition: all 180ms;
  appearance: none;
  background-image: url("./../images/icon-slider.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: $Strong-Cyan-Slider-Backround;
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  border: 0;
  box-shadow: 0px 7px 30px $Strong-Cyan-Slider-Backround;
  cursor: pointer;
}

@mixin track {
  appearance: none;
  background-color: $Light-Grayish-Blue-Empty-Slider-Bar;
  height: 6px;
  border-radius: 6px;
}

@mixin progress {
  appearance: none;
  background-color: $Soft-Cyan-Full-Slider-Bar;
  height: 6px;
}

// progress
//background-color: #4c515126;
// height: 6px;
//track
// appearance: none;
// background-color: #4c515126;
// height: 6px;

// thumb styles
#slider::-moz-range-thumb {
  @include thumb;

  &:hover,
  &:active {
    @include thumb_hover;
  }
}

#slider::-ms-thumb {
  @include thumb;

  &:hover,
  &:active {
    @include thumb_hover;
  }
}

#slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  margin-top: -14px;
  @include thumb;
  &:hover,
  &:active {
    @include thumb_hover;
  }
}

// track and progress
#slider::-moz-range-track {
  @include track;
}

#slider::-ms-track {
  @include track;
  &::-ms-fill-lower {
    @include progress;
  }
}

#slider::-webkit-slider-runnable-track {
  @include track;
  box-shadow: 1px 0 0 calc(100% - var("--value")) inset red;
  
}

#slider::-moz-range-progress {
  @include progress;
}
