@import "./config", "./inputs";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  width: 100%;
  font-family: $font;
  font-size: $size;
  overflow: hidden;
}

body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main{
  background-image: url("./../images/pattern-circles.svg");
  background-repeat: no-repeat;
  background-position: top center;
  margin: 2rem;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  *{
    width: 100%;
  }
  @media (min-width:800px) {
    width: 700px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    header{
      margin: 2rem 0;
      grid-column: 1/-1;
    }

    .price{
      grid-column: 1/-1;
      width: 100%;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(3, 100px);
      #pageviews{
        grid-column: 1/3;
        order: 1;
      }
      #final-price-p{
        grid-column: 3/5;
        order: 2;
      }
      .slider{
        grid-column: 1/-1;
        order: 3;
      }
      .cycle{
        grid-column: 1/-1;
        order: 4;
      }
    }

    .benefits{
      grid-column: 1/-1;
      display: flex;
      flex-direction: row;
      text-align: left;
      align-items: center;
      ul, li, button{
        margin: 0;
      }
    }
  }
}

ul{
  list-style: none;
}

li img{
  width: 1rem;
  margin-right: 10px;
}

header{
  margin: 2rem;
  text-align: center;
  h1{
    font-size: 2rem;
    font-weight: $weight-2;
    color: $Dark-Desaturated-Blue-Text-CTA-Background;
    margin-bottom: 1rem;
  }
  h2{
    font-size: 1rem;
    font-weight: $weight-1;
    color: $Grayish-Blue-Text;
  }
}

.price{
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  font-size: 2rem;
  *{
    align-self: center;
    justify-self: center;
  }
  p{
    text-align: center;
    height: 4rem;
    font-size: 1rem;
    color: $Grayish-Blue-Text;
    #final-price{
      font-size: 2rem;
      color: $Dark-Desaturated-Blue-Text-CTA-Background;
      font-weight: $weight-2;
    }
    &#pageviews{
      text-transform: uppercase;
      font-size: 0.8rem;
      letter-spacing: 3px;
    }
  }
  .cycle{
    label{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: wrap;
      align-items: baseline;
      *{
        flex-basis: content;
        flex-grow: 1;
      }
      div{
        margin-left: 10%;
        flex-basis: 35px;
        align-self: flex-start;
        text-align: center;
      }
    }
    #discount-message{
      #discount-value{
        margin-left: 10px;
      }
      span{
        color: $Light-Red-Discount-Text;
        #discount-word{
          display: none;
          @media (min-width:550px) {
            display: inline;
          }
        }
      }
    } 
  }
}
#final-price-p{
  display: flex;
  width: max-content;
  align-items: center;
  margin-bottom: 2rem;
  span{
    margin-right: 10px;
  }
}

.benefits{
  text-align: center;
  margin-bottom: 2rem;
  button{
    width: max-content;
    margin-top: 2rem;
    border: 2px solid transparent;
    padding: 0.3rem 2rem;
    cursor: pointer;
    transition: all 180ms;
    border-radius: 3rem;
    background-color: $Dark-Desaturated-Blue-Text-CTA-Background;
    color: $Grayish-Blue-Text;
    font-size: 1rem;
    font-weight: $weight-2;
    &:hover{
      color: white;
    }
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}