@import "./config", "./inputs";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  width: 100%;
  font-family: $font;
  font-size: $size;
  overflow: hidden;
}

body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main{
  background-image: url("./../images/pattern-circles.svg");
  background-repeat: no-repeat;
  background-position: top center;
  margin: 2rem;
  max-width: 1100px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  *{
    width: 100%;
  }
}

ul{
  list-style: none;
}

li img{
  width: 1rem;
  margin-right: 10px;
}

header{
  margin: 2rem;
  text-align: center;
  h1{
    font-size: 2rem;
    font-weight: $weight-2;
    color: $Dark-Desaturated-Blue-Text-CTA-Background;
    margin-bottom: 1rem;
  }
  h2{
    font-size: 1rem;
    font-weight: $weight-1;
    color: $Grayish-Blue-Text;
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}